body {
    background-color: #f1f1f1;
    margin: 0;
}

main {
    display: flex;
    padding: 1em;
    font-family: helvetica;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 1.2em;
    margin-top: 0.5em;
}

section {
    /*    padding: 1em;*/
    background: white;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 1em;
    box-shadow: 0 4px 4px -2px #232323;
}

article {
    margin: auto;
    padding: 1em;
}

header {
    background: #434343;
    display: flex;
}

h1 {
    margin: 0;
    color: white;
    font-family: helvetica;
    color: #f6af29;
    margin: auto 0;
}

h2 {
    background-color: #418fb7;
    font-size: 1.5em;
    font-weight: 400;
    color: white;
    padding: 0.2em 0.4em;
    margin: 0;
}

#logo {
    width: 4em;
    height: 4em;
    margin: auto 1em;
    padding: 0.3em;
}

#matchup {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
}


.club-logo {
    width: 3em;
    height: 3em;
    margin-left: 1em;
    margin-right: 1em;
}

.club {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
}

#score {
    margin: auto;
    font-size: 1.3em;
    font-weight: bold;

}
